@import "tailwindcss";

@theme{
    /* --color-light-dark:#1d1e23; */
    --color-light-dark:#404040;
}
.page-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

button{
  cursor: pointer;
}