@import "tailwindcss";

@theme{
    /* --color-light-dark:#1d1e23; */
    --color-light-dark:#404040;
}
.page-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

button{
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fe8b00 #1f1f1f;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #fe8b00;
  border-radius: 6px;
  border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9f2e;
}
